<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/fonts/css/fonts.css" />
    <link rel="icon" href="/images/favicon.ico" />
    <title>Hangman Game</title>
  </head>
  <body>
    <div class="chalkboard-container">
      <h2>Hangman App with Sinatra</h1>
        <%= yield %>
    </div>
  </body>
</html>
